<a href="http://localhost:8081/admin/categorias"><button class="btn btn-success">Abrir categorias</button></a>
<a href="http://localhost:8081/admin/postagens"><button class="btn btn-success">Abrir postagens</button></a>